.config-step{
	display: block;
	position: relative;
	width: 90%;
	margin: auto;
	background-color: #EEEEEE;
	padding: 1em 1em 1.5em 1em;
}

#colors{
	display: none;
}

#specials{
	display: none;
}

#points-wrapper{
	display: block;
	height:10px;
	text-align: center;
}

.point{
	display: inline-block;
	height: 10px;
	width: 10px;
	border: 1px solid black;
	border-radius: 5px;
}

.point:hover{
	background-color: #CCCCCC;
}

#flavors-point{
	background-color: #000000;
}
